version: 2

jobs:
  lint:
    docker:
      - image: circleci/node:10.16.2
    steps:
      - checkout
      - restore_cache:
          key: package-cache-{{checksum "package.json"}}
      - run:
          command: npm install
      - save_cache:
          key: package-cache-{{checksum "package.json"}}
          paths:
            - node_modules
      - run:
          command: npm run lint
  deploy:
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          command: git push -f https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git master

workflows:
  version: 2
  test:
    jobs:
      - lint
      - deploy:
          requires:
            - lint
          filters:
            branches:
              only: master
