version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:14.17.6
    steps:
      - checkout
      - run:
          command: yarn install --frozen-lockfile
      - run:
          command: yarn build
  lint:
    docker:
      - image: cimg/node:14.17.6
    steps:
      - checkout
      - restore_cache:
          key: package-cache-{{ checksum "yarn.lock" }}
      - run:
          command: yarn
      - save_cache:
          key: package-cache-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          command: yarn lint
  test:
    docker:
      - image: cimg/node:14.17.6
        environment:
          RDS_HOST: localhost
          RDS_DATABASE: membership_portal
          RDS_USER: acmucsd_ci
          RDS_PASSWORD: password
      - image: cimg/postgres:11.12
        environment:
          POSTGRES_DB: membership_portal
          POSTGRES_USER: acmucsd_ci
          POSTGRES_PASSWORD: password
    steps:
      - checkout
      - restore_cache:
          key: package-cache-{{ checksum "yarn.lock" }}
      - run:
          command: yarn
      - save_cache:
          key: package-cache-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          command: yarn db:migrate
      - run:
          command: yarn test
  image:
    working_directory: /app
    docker:
      # This image is used for docker buildx compatibilities, which allows us to
      # build to both x86 and ARM architectures. This allows us to use
      # t4g (AWS Graviton instances backed by ARM architecture) and t3a instances
      # (our old instance type) on AWS EC2. More details on the actual usage
      # are below in the command section

      # Image and code adapted from https://www.docker.com/blog/multi-arch-build-what-about-circleci/
      - image: jdrouet/docker-with-buildx:stable
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.2
      # Caching done for docker images and stored for future workflows.
      ## https://circleci.com/docs/caching
      - restore_cache:
          keys:
            - v1-{{ .Branch }}
          paths:
            - /caches/docker-buildx
      - run:
          name: Push application Docker image
          # The below command builds, tags, and pushes the docker image in a single step.
          # There isn't a way to separate these steps - that is how buildx was designed.
          # Caching is done for both loading the image and storing the image,
          # and the platforms specified are both amd64 (i.e. x86) and arm64,
          # meaning that both AWS Graviton instances and regular AMD
          # instances can both use this image. Because both architectures need to be built,
          # the build process will take longer than it historically has.

          # the 'docker buildx create' command below creates a new builder instance that is capable
          # of building multi-platform images, since the default instance does not
          # have that capability by default.

          # See https://www.docker.com/blog/faster-multi-platform-builds-dockerfile-cross-compilation-guide/
          # for details
          command: |
            GIT_HASH=$(echo $CIRCLE_SHA1 | cut -c -7)
            echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
            docker buildx create --name multi_platform_builder --use

            docker buildx build \
              --platform linux/amd64,linux/arm64 \
              --cache-from type=local,src=/caches/docker-buildx \
              --cache-to type=local,dest=/caches/docker-buildx,mode=max \
              --tag acmucsd/membership-portal-api:latest \
              --tag acmucsd/membership-portal-api:$GIT_HASH \
              --push .
      - save_cache:
          key: v1-{{ .Branch }}-{{ epoch }}
          paths:
            - /caches/docker-buildx

  deploy:
    environment:
      GIT_HASH: $(echo $CIRCLE_SHA1 | cut -c -7)
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          command: |
            GIT_HASH=$(echo $CIRCLE_SHA1 | cut -c -7)
            docker run caprover/cli-caprover:v2.1.1 caprover deploy --caproverUrl https://captain.caprover.acmucsd.com --caproverPassword $CAPROVER_PASS --caproverApp membership-portal-api-testing --imageName acmucsd/membership-portal-api:$GIT_HASH
            docker run caprover/cli-caprover:v2.1.1 caprover deploy --caproverUrl https://captain.caprover.acmucsd.com --caproverPassword $CAPROVER_PASS --caproverApp membership-portal-api --imageName acmucsd/membership-portal-api:$GIT_HASH
  deploy_staging:
    environment:
      GIT_HASH: $(echo $CIRCLE_SHA1 | cut -c -7)
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          command: |
            GIT_HASH=$(echo $CIRCLE_SHA1 | cut -c -7)
            docker run caprover/cli-caprover:v2.1.1 caprover deploy --caproverUrl https://captain.caprover.acmucsd.com --caproverPassword $CAPROVER_PASS --caproverApp membership-portal-api-testing --imageName acmucsd/membership-portal-api:$GIT_HASH

workflows:
  test_and_deploy:
    jobs:
      - build
      - lint
      - test
      - image:
          requires:
            - build
            - lint
            - test
          filters:
            branches:
              only:
                - master
                - staging
      - deploy:
          requires:
            - build
            - lint
            - test
            - image
          filters:
            branches:
              only: master
      - deploy_staging:
          requires:
            - build
            - lint
            - test
            - image
          filters:
             branches:
                only: staging